body{
    font-family:'Open Sans';
    font-size:16px;
}
h1{
    font-size:20px;
    font-weight: bold;
}
h2{
    font-size:18px;
    font-weight: bold;
}
/******************** Sup Menu *****************************/
.navbar-brand {   
    padding: 6px;
}
.navbar-nav > li > a {
    padding-bottom: 6px;
    padding-top: 6px;
}
.navbar {
    border: 0px;
    margin-bottom: 20px;
    min-height: 35px;  
    border-radius: 0;
    font-size:12px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default {
    background-color: #2BAFE3; //Color Primary
    border-color: #2BAFE3;
}

.navbar-collapse {
    border-top: 0px;    
    padding-left: 118px;
    padding-right: 118px;
}

.navbar-form {
    margin: 5px 0;    
}

.navbar .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 25px;
    line-height: 1.42857;
    padding: 0px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: top;
    width: 100%;
}
/******************************* Menu Principal **********************************/
header > section a{
    color:gray;
    font-family:'Arvo';
    font-size:18px;
}
header > section a:hover{
    text-decoration:none;
    color:#2BAFE3;
}

header > section ul#dropdownMenu1{    
    left: 78px;    
}

#search{
    background-color: #2BAFE3;
    height: 46px;
    margin-top: 20px;
    padding: 5px 20px;
}
/********************************* Cuerpo *****************************************/
.list, .list li{
    margin:0px;
    padding:0px;
    list-style:none;
}

.list li{
    margin:10px;
    border-bottom:1px solid lightgray;
}
.cv{
    background:white;
}
.cv li{
    text-align:left;
}
.cv h2{
    border-bottom:1px dashed lightgray;
}

/******************************** Footer **********************************/
footer{
    margin:20px 0;
}

footer li, footer ul{margin:0px; padding:0px;}
footer li{
    list-style:none;
}

.stars{
    margin:0px;
    padding:0px;
}
.stars li{
    background:url(../img/stars.png) no-repeat;    
    list-style:none;
    width:20px;
    height:20px;
    background-position:0 0;
    display:inline-block;
    cursor:pointer;
}
.stars li.active{
    background-position:0 -24px;
}
.stars li.hover{
    background-position:0 -46px;
}